h1,h2 {
    margin: 0px
}

pre code {
    background-color: #eee;
    border: 1px solid #e9e9e9;
    display: block;
    padding: 20px;
    text-wrap-mode: wrap;
    white-space: pre-wrap;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    align-items: center;
}

.main {
    display: flex;
    flex: 1;
}

.container {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.left, .right {
    border: none;
}

.table, .tr, .td {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

tr {
    height: 30px;
    text-wrap: nowrap;
}

input {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}